.aboutheader1{
    font-size: 50px;
    font-weight: bold;
    color: #EFFAEC;
    text-indent: 5%;
}
.aboutdesc1{
    font-size: 30px;
    font-weight: bold;
    color: #EFFAEC;
    text-indent: 5%;
}
.aboutdesc2{
    font-size: 30px;
    font-weight: bold;
    color: #EFFAEC;
    text-indent: 5%;
}
.aboutheader2{
    font-size: 50px;
    font-weight: bold;
    color: #EFFAEC;
    text-indent: 5%;
}
.aboutdesc3{
    font-size: 30px;
    font-weight: bold;
    color: #EFFAEC;
    text-indent: 5%;
}
.logoabt{
    text-indent: 5%;
    padding: 50px;
}

