.tipsheader{
    font-size: 50px;
    font-weight: bold;
    color: #EFFAEC;
    text-indent: 5%;
}
.tipsdesc{
    font-size: 30px;
    font-weight: bold;
    color: #EFFAEC;
    text-indent: 5%;
}
.header-tipstime{
    font-size: 20px;
    font-weight: bold;
    color: #EFFAEC;
}
.modal-content{
    background-color: rgb(0, 225, 255);
    display: flex;
}
.modal-body{
    display: flex;
}
.row {
    display: flex;
    text-align: center;
    padding: 20px;
}
.column {
    flex: 40%;
    padding: 5px;
}
.modal-dialog {
      display: flex;
      padding-top: 80px;
}